@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.shadow-2 {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.02), 0 2px 4px rgba(0, 0, 0, 0.02),
    0 4px 8px rgba(0, 0, 0, 0.02), 0 8px 16px rgba(0, 0, 0, 0.02),
    0 16px 32px rgba(0, 0, 0, 0.02), 0 32px 64px rgba(0, 0, 0, 0.02);
}

.shadow-5 {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.05),
    0 4px 8px rgba(0, 0, 0, 0.05), 0 8px 16px rgba(0, 0, 0, 0.05),
    0 16px 32px rgba(0, 0, 0, 0.05), 0 32px 64px rgba(0, 0, 0, 0.05);
}

.primary1 {
  color: #000000;
}

.primary2 {
  color: #FFBB00
}

.bg-gray3 {
  background: rgba(130, 130, 130, 1);
}

.text-gray {
  color: rgba(101, 98, 76, 1);
  font-weight: 500;
  text-align: left;
  position: relative;
  left: 5px;
}

.text-price {
  font-weight: 600;
  font-size: 20px;
}

.text-day {
  color: rgba(101, 98, 76, 1);
  font-weight: 400;
  font-size: 12px;
  position: relative;
  top: 2px;
}

.banner-height {
  height: 70vh;
}

.banner-bg {
  background: url('assets/Banner-bg.svg') no-repeat center center/cover;
  height: 100%;
  width: 100%;
}

.video-wrapper {
  width: 100%;
  height: 100%;
  background: url('assets/Office.svg') no-repeat center center / cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
